.users {
  list-style-type: none;
}

.users-header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.user-home-button {
  position: absolute;
  left: 0;
}

.user-heading {
    text-align: center;
}

.user-info {
  margin: 20px 0;
}

th {
  text-align: center;
}