.wine-varietals-list {
  list-style-type: none;
}

.wine-header {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-top: 15px;
  padding: 0 5px;
}

body:has(.wine-page) {
  background-image: url(../../../images/wine-bottles.png);
}

.wine-page .container {
  opacity: 95%;
  background-color: white;
}
.container {
  padding: 10px;
}
