.home-logo {
  padding-bottom: 10px;
  width: 100%;
}

.home-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.home-icon-button {
  text-align: center;
  margin: 10px 0;
}