.beer-styles-list {
  list-style-type: none;
}

.beer-header {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin-top: 15px;
  padding: 0 5px;
}

body:has(.beer-page) {
  background-image: url(../../../images/beer-wall-3.png);
}

.beer-page .container {
  opacity: 90%;
  background-color: white;
}
.container {
  padding: 10px;
}
