.beerBrewery {
  color: gray;
  font-size: 14px;
}

.specific-beer-list {
  list-style-type: none;
}

.indiv-beer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stock-link {
  text-decoration: underline;
  margin-bottom: 20px;
}