.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #5c8d89;
  display: flex;
  justify-content: center; /* Center the container */
  padding: 15px 0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #ddd;
  margin: 0;
  box-sizing: border-box;
}

.nav > div {
  display: flex;
  justify-content: space-around; /* Evenly space links within the container */
  width: 100%; /* Make the inner div take full width */
}

.navLink {
  flex: 1; /* Each link will take up equal space */
  text-align: center; /* Center text horizontally within each flex item */
  color: antiquewhite;
  text-decoration: none;
  font-size: 16px;
}

.navLink:hover {
  color: #b8bbba;
}
